@import "styles.css";

*{
    margin:0;
    padding: 0;
    list-style: none;
    font-family: var(--tipografiaGeneral);
    font-size: 12px;
}
.esteBody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--colorGrisClaro);
    justify-content: center;
    align-items: center;
}

.esteHeader{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--colorAmarillo);
    justify-content: center;
    align-items: center;

}
.esteHeader img{
   width: 50vw;
}
.esteHeader form{
   width: 50vw;
   text-align: center;
}
.esteHeader form span{
    background-color: white; 
    border: 1px solid black;
    border-radius: 4px;
}
.esteHeader form span input{
    width: 30vw;
    border:none;
    background-color:transparent;
}
.esteHeader form span button{
    width: 19px;
    border:none;    
    background-color:transparent;
}
.esteHeader span{
    margin: 5px 0;
    width: 100vw;
    text-align: center;
}
.esteHeader nav{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}
.esteHeader nav button{
    background-color: var(--colorAzul);
    width: 19px;
    margin: 5px 0;    
    border: 1px solid transparent;
    border-radius: 4px;
}
.esteHeader nav button i{
    color: white;
}
.esteHeader nav ul{
    display: none;
}
.esteHeader nav ul li{}
.esteHeader nav ul li a{}

.esteBody h1{
    font-size: 24px;
    font-weight: bolder;
    color: var(--colorGrisOscuro);
    align-self: flex-start;
    margin: 5vw 0 0 5vw;
}

.esteArticle {
    margin-top: 5vw;
    width: 90vw;
    display: flex;    
    flex-wrap: wrap;
    background-color: white;
}
.esteArticle img{
    width: 90vw;
}
.esteArticle span{
    text-align: right;
    height: 10px;
    border-top: solid 1px var(--colorGrisClaro);
    width: 90vw;
}
.esteArticle span i{
    background-color: white;
    position: relative;
    bottom:100%;
    right :5%;
    color: var(--colorVerde);
    border: 1px solid var(--colorVerde);
    border-radius: 50%;
    padding: 5px;
}
.esteArticle h2{
    width: 30%;
    font-size: 18px;
}
.esteArticle h3{
    width: 70%;    
    font-size: 16px;
    color: var(--colorVerde)
}
.esteArticle h1{    
    color: var(--colorGrisOscuro);
    font-size: 16px;
    width: 90vw;
}

.esteFooter{    
    background-color: var(--colorAmarillo);
    margin-top: 5vw;
    display: flex;    
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.esteFooter div{
    text-align: center;
    margin-top: 10px;
}
.esteFooter div h6{
    font-weight:900;
}
.esteFooter div p{
}
.esteFooter footer{    
    margin-top: 20px;
}
.esteFooter footer h3{
    font-weight:bolder;
}