@import "styles.css";

*{
    margin:0;
    padding: 0;
    list-style: none;
    font-family: var(--tipografiaGeneral);
    font-size: 12px;
}
.esteBody{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--colorGrisClaro);
    justify-content: center;
    align-items: center;
}

.esteHeader{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--colorAmarillo);
    justify-content: center;
    align-items: center;

}
.esteHeader img{
   width: 50vw;
}
.esteHeader form{
   width: 50vw;
   text-align: center;
}
.esteHeader form span{
    padding: 2px;
    background-color: white; 
    border: 1px solid transparent;
    border-radius: 4px;
}
.esteHeader form span input{
    width: 20vw;
    border:none;
    background-color:transparent;
}
.esteHeader form span button{
    width: 19px;
    border:none;    
    background-color:transparent;
}
.esteHeader span{
    margin: 5px 0;
    width: 100%;
    text-align: center;
}
.esteHeader nav{
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}
.esteHeader nav button{
    background-color: var(--colorAzul);
    width: 19px;
    margin: 5px auto;    
    border: 1px solid transparent;
    border-radius: 4px;
}
.esteHeader nav button i{
    color: white;
}
.esteHeader nav ul{
    justify-content: space-between;
    display: none;
    gap:20px;
}
.esteHeader nav ul a{
}
.esteHeader nav ul a li{
    text-align: center;
}

.esteBody h1{
    width: 100%;
    font-size: 24px;
    font-weight: bolder;
    color: var(--colorGrisOscuro);
    align-self: flex-start;
    margin: 5vw 0 0 5vw;
}
.esteMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.esteArticle {
    margin-top: 5vw;
    height: fit-content;
    width: 90vw;
    display: flex;    
    flex-wrap: wrap;
    background-color: white;
}
.esteArticle img{
    width: 100%;
}
.esteArticle span{
    text-align: right;
    height: 10px;
    border-top: solid 1px var(--colorGrisClaro);
    width: 100%;
}
.esteArticle span i{
    background-color: white;
    position: relative;
    bottom:100%;
    right :5%;
    color: var(--colorVerde);
    border: 1px solid var(--colorVerde);
    border-radius: 50%;
    padding: 5px;
}
.esteArticle span i{
    position: relative;
    background-color: white;
    position: relative;
    bottom:100%;
    right :5%;
    color: var(--colorVerde);
    border: 1px solid var(--colorVerde);
    border-radius: 50%;
    padding: 5px;
    transition: 1s all;
}
.esteArticle span i:hover{
    transform: rotate(-45deg);
}

.esteArticle h2{
    font-size: 18px;
    margin: 12px 0 12px 12px
    ;
}
.esteArticle h3{
    width: 35%;    
    font-size: 16px;
    color: var(--colorVerde);
    margin: 12px 0 12px 12px;
}
.esteArticle h1{    
    color: var(--colorGrisOscuro);
    font-size: 16px;
    width: 90vw;
    margin: 0 0 0 12px;
    display: none
}

.esteFooter{   
     width: 100%;
    background-color: var(--colorAmarillo);
    margin-top: 5vw;
    display: flex;    
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.esteFooter div{
    text-align: center;
    margin-top: 10px;
}
.esteFooter div h6{
    font-weight:900;
}
.esteFooter div i{
}
.esteFooter div i:hover{
    color: var(--colorAzul);
}
.esteFooter footer{    
    margin-top: 20px;
}
.esteFooter footer h3{
    font-weight:bolder;
}



@media (min-width: 361px){
    .esteHeader img{
        width: 33vw;
     }
     .esteHeader form{
        width: 33vw;
     }
     .esteHeader span{
        margin: 5px 0;
        width: 33vw;
        text-align: center;
     }
    .esteArticle{
        width: 45vw;
        transition: 0.5s all;

    }
    .esteArticle:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .esteHeader nav button{
        display: none
    }
    .esteHeader nav ul{    
        display: flex;
    }

    .esteArticle h1{    
        display: block;
        transition: 1s all;
        overflow:hidden;
        height: 0px;
        opacity: 0;
    }
    .esteArticle:hover h1{
        height: 30px;
        opacity: 1;
    }
}
@media (min-width: 769px){
    .esteArticle{
        width: 30vw;
    }
    .esteFooter{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .esteFooter div{
        width: 30%;
    }
    .esteFooter footer{ 
        text-align: center;
        width: 100vw;
    }
}