<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Stylesheet/styles.css">
    <script src="https://kit.fontawesome.com/3fab2a7658.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>

</head>
<header>
    <span>
        <a href="/views/home.html"><img src="/images/logo-mercado-liebre.svg" alt="logo">
        </a>
    </span>
    <form>
        <input type="text" name="barraDeBusqueda" placeholder="Busca marcas y productos">
        <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
    <span>
        <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjetas de crédito
    </span>
    <nav>
        <button type="menu">

        </button>
        <ul>
            <a href="/views/header.html">
                <li>Ofertas</li>
            </a>
            <a href="/views/header.html">
                <li>Tiendas oficiales</li>
            </a>
            <a href="/views/header.html">
                <li>vender</li>
            </a>
            <a href="/views/header.html">
                <li>ayuda</li>
        </ul>
        <ul>
            <a href="/views/header.html">
                <li>creá tu cuenta<i class="fa-solid fa-id-card-clip"></i></li>
            </a>
            <a href="/views/header.html">
                <li>ingresá<i class="fa-solid fa-arrow-right-to-bracket"></i></li>
            </a>
            <a href="/views/header.html">
                <li>Mis compras<i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
    </nav>

</header>

</html>