<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Stylesheet/styles.css">
    <script src="https://kit.fontawesome.com/3fab2a7658.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>

</head>

<body>
    <header>
        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="logo">

            <form>
                <input type="text" name="barraDeBusqueda" placeholder="Busca marcas y productos">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <span>
                <i class="fa-solid fa-hand-holding-dollar"> </i> Comprá en cuotas y sin tarjetas de crédito
            </span>
        </div>
        <nav>
            <button type="menu">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul>
                <li><a href="/views/header.html">Ofertas</a></li>

                <li><a href="/views/header.html">Tiendas oficiales</a></li>

                <li><a href="/views/header.html">vender</a></li>

                <li><a href="/views/header.html">ayuda</a></li>

            </ul>
            <ul>
                <li><a href="/register">creá tu cuenta <i class="fa-solid fa-id-card-clip"></i></a></li>
                <li> <a href="/login">ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="/views/header.html">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </ul>
        </nav>

    </header>
    <main>

        <img class=__Index__Body__Main__Section__img--Banner src="/images/img-home-banner.jpg">
        <h1>Basado en las ultimas visitas</h1>

        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg">
                    <i class="fa-solid fa-truck"></i>
                    <div>
                    <h3>$6.770</h3>
                    <h4>40% off</h4>
                    <h2>Cafetera Moulinex</h2>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg">
                <i class="fa-solid fa-truck"></i>
                <div>
                    <h3>$230.000</h3>
                    <h4>20% off</h4>
                    <h2>MacBook Pro 2019</h2>
                </div>
            </article>
            <articl>
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <i class="fa-solid fa-truck"></i>
                <div>
                    <h3>$70.500</h3>
                    <h4>10% off</h4>
                    <h2>Samsung Galaxy S10</h2>
                </div>
            </articl
            <article>
                <img src="/images/img-tv-samsung-smart.jpg">
                <i class="fa-solid fa-truck"></i>
                <div>    
                    <h3>$6.770</h3>
                    <h4>40% off</h4>
                    <h2>Imagen del SmartTv</h2>
                </div>
            </article>
        </section>

        

    </main>
    <footer>

        <article>
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <i class="fa-solid fa-box"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <i class="fa-solid fa-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
        <article>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </article>

    </footer>

</body>

</html>