<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Stylesheet/styles.css">
    <script src="https://kit.fontawesome.com/3fab2a7658.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre Registro</title>

</head>

<body>
    <header>
        <div>
            <img src="/images/logo-mercado-liebre.svg" alt="logo">

            <span>
                <i class="fa-solid fa-hand-holding-dollar"> </i> Comprá en cuotas y sin tarjetas de crédito
            </span>
        </div>
        <nav>
            <button type="menu">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul>
                <li><a href="/views/header.html">Tiendas oficiales</a></li>

                <li><a href="/views/header.html">ayuda</a></li>

            </ul>
            <ul>
                <li> <a href="/home">regresar<i class="fa-solid fa-house"></i></a></li>
                <li> <a href="/login">ingresar<i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
            </ul>
        </nav>

    </header>
    <main>

        <img class=__Index__Body__Main__Section__img--Banner src="/images/img-home-banner.jpg">
        <h1>Registro de cuenta</h1>
        <form>
            <h3>Informacion personal</h3>
            <input type="text" placeholder="Nombre y apellido">
            <input type="text" placeholder="Nombre de usuario">
            <input type="email" placeholder="E-mail">
            <h3>Fecha de nacimiento</h3>
            <input type="date">
            <input type="text" placeholder="Domicilio">
            <h3>Foto de usuario</h3>
            <input type="file"  placeholder="">
            <h3>Seguridad</h3>
            <input type= "password" placeholder="Contraseña">
            <input type= "password" placeholder="Confirme Contraseña">
            <h3>Perfil de usuario</h3>
            <ul>
                
                <li>Comprador<input type="radio" name="perfil" checked></li>
                <li>Vendedor<input type="radio" name="perfil"></li>
                <li>Comprador y Vendedor<input type="radio" name="perfil"></li>
            </ul>

            <h3>intereses</h3>
            <ul>
                <li>Electro<input type="checkbox"></li>
                <li>Moda<input type="checkbox"></li>
                <li>Jugueteria<input type="checkbox"></li>
                <li>Vida sana<input type="checkbox"></li>
            </ul>
            
            <div>
            <button type="reset">
                borrar
            </button>
            <button type="submit">
                enviar
            </button>
            </div>
            


        </form>
    </main>
    <footer>

        <article>
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </article>
        <article>
            <i class="fa-solid fa-box"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </article>
        <article>
            <i class="fa-solid fa-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </article>
        <article>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
        </article>

    </footer>

</body>

</html>